.header {
  position: absolute;
  top: 0;
  z-index: 5;

  width: 100%;
}

@media only screen and (max-width: @tablet-width) {

  .header {
    top: 0;

    &.active {
      height: 100vh;
      overflow-y: scroll;
      overflow-x: hidden;
      position: fixed;
      z-index: 10;
      top: 0;
    }
  }
}
