// Circe
@font-face {
  font-display: swap;
  font-family: "Font";
  src: local("Font Light"),
       local("Font-Light"),
       url("../fonts/Font/light/Font-Light.woff2") format("woff2"),
       url("../fonts/Font/light/Font-Light.woff") format("woff"),
       url("../fonts/Font/light/Font-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Font";
  src: local("Font"),
       local("Font Regular"),
       local("Font-Regular"),
       url("../fonts/Font/regular/Font-Regular.woff2") format("woff2"),
       url("../fonts/Font/regular/Font-Regular.woff") format("woff"),
       url("../fonts/Font/regular/Font-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Font";
  src: local("Font Bold"),
       local("Font-Bold"),
       url("../fonts/Font/bold/Font-Bold.woff2") format("woff2"),
       url("../fonts/Font/bold/Font-Bold.woff") format("woff"),
       url("../fonts/Font/bold/Font-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}