:root {
  --font-main: 'Font', 'Arial', sans-serif;

  --color-main-bg: #EAF1F9;
  --color-main: #393544;

  --color-white: #F0F7FF;
  --color-brown: #291C22;
  --color-red: #E13D3E;

  --transition-main: 0.5s;
}

@font-main: var(--font-main);

@bg: var(--color-main-bg);
@color-main: var(--color-main);

@white: var(--color-white);
@brown: var(--color-brown);
@red: var(--color-red);

@s: var(--transition-main);
