.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: ;
  font-weight: 700;
}

.h1 {
  font-size: ;
  line-height: ;
}

.h2 {
  font-size: ;
}

.h3 {
  font-size: ;
}

.h4 {
  font-size: ;
}

.h5 {
  font-size: ;
}

.p1,
.p2,
.p3 {
  font-weight: 500;
  color: ;
}

.p1 {
  font-size: ;
}

.p2 {
  font-size: ;
}

.p3 {
  font-size: ;
  line-height: ;
}